

@font-face {
  font-family: 'Andale-Mono';
  src: url('../fonts/AndaleMono.woff') format('woff'),
       url('../fonts/AndaleMono.ttf') format('truetype');
}


:root {
  --brown: #2F2720;
  --orange: #F84A4C;
}

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: #ECE9D9;
  padding: 1%;
  height: 100vh;
}

.container {
  border: 5px solid var(--brown);
  padding: 2%;
}

h1 {
 font: 400 normal 2.4em "Amarante", serif;
 color: var(--orange);
 text-align: center;
 margin-top: 10px;
}

h3 {
 font: 400 normal 1.4em "Amarante", serif;
 color: var(--brown);
 margin: 20px 0;
}

header {
  width: 100%;
}

header img:first-of-type {
  position: fixed;
  left: 0;
  max-width: 5%;
}

header img:nth-of-type(2) {
  position: fixed;
  right: 0;
  max-width: 5%;
}

header img:last-of-type {
  max-width: 25%;
  display: block;
  margin: 50px auto 0 auto;
  border: 3px solid var(--brown);
  border-radius: 50%;
  padding: 10px;
}

menu {
  width: 100%;
  text-align: center;
}

menu li {
  display: inline;
  list-style-type: none;
  padding-left: 50px;
}

menu li a {
  color: var(--brown);
  font: 400 normal 1em "Amarante", serif;
  text-decoration: none;
}

menu li a:hover {
  color: var(--orange);
}

main {
  width: 60%;
  height: 68vh;
  margin: 0 auto;
}

main p {
  color: var(--brown);
  font-family: 'Andale-Mono', sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  margin-bottom: 15px;
}



footer menu li a {
  color: var(--brown);
  font: 400 normal 0.8em 'Andale-Mono', sans-serif;
}

.copyright {
  color: var(--brown);
  font: 400 normal 0.8em 'Andale-Mono', sans-serif;
  text-align: center;
  margin: 25px 0;
}
